<app-header></app-header>
<div class="container">
  <div class="row">
    <app-recipes></app-recipes>
    <app-shopping-list></app-shopping-list>
  </div>
</div>

<hr />
<hr />
<hr />
<div class="container">
  <app-cockpit
    (serverCreatedEmitter)="onServerAdded($event)"
    (bpcreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12"></div>
    <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
    ></app-server-element>
  </div>
</div>
